*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F5F5F5;
    overflow:hidden;
}

.hero{
    width:100%;
    height:100vh;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

/* Pencil */

.pencil{
    position:absolute;
    left:-70px;
    top:85%;
    transform:translateY(-50%);
    height:650px;
    animation:float 4s ease-in-out infinite;
}

/* Content */

.content{
    text-align:center;
    max-width:900px;
    z-index:2;
}

.logo{
    width:280px;
    margin-bottom:70px;
}

h1{
    font-size:65px;
    font-weight:600;
    line-height:1.1;
    color:#111;
}

h1 span{
    color:#F6C73B;
}

h2{
    font-size:40px;
    font-weight:500;
    line-height:1.15;
    color:#111;
}

p{
    margin-top:50px;
    color:#9B9B9B;
    font-size:24px;
    font-weight:400;
}

.coming-soon{
    position:absolute;
    right:150px;
    bottom:15px;
    font-size:22px;
    font-weight:300;
    color:#F6C73B;
}

/* Floating Animation */

@keyframes float{

    0%{
        transform:translateY(-50%);
    }

    50%{
        transform:translateY(-53%);
    }

    100%{
        transform:translateY(-50%);
    }

}

/* Laptop */

@media(max-width:1200px){

    .pencil{
        height:520px;
        left:-50px;
        top:85%;
    }

    .logo{
        width:240px;
    }

    h1{
        font-size:55px;
    }

    h2{
        font-size:36px;
    }

    p{
        font-size:20px;
    }

    .coming-soon{
        right:80px;
        bottom:20px;
        font-size:18px;
    }

}

/* Mobile */

@media(max-width:768px){

    .hero{
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-top:60px;
        overflow:hidden;
    }

    .content{
        width:100%;
        max-width:340px;
        text-align:center;
        z-index:5;
    }

    .logo{
        width:170px;
        margin-bottom:35px;
    }

    h1{
        font-size:34px;
        line-height:1.15;
    }

    h2{
        font-size:24px;
        line-height:1.2;
    }

    p{
        margin-top:22px;
        font-size:15px;
        line-height:1.6;
        padding:0 20px;
    }

    .pencil{
        position:absolute;
        left:50%;
        bottom:-20px;
        top:auto;
        height:250px;
        transform:translateX(-50%);
    }

    .coming-soon{
        position:absolute;
        left:50%;
        bottom:170px;
        right:auto;
        transform:translateX(-50%);
        font-size:16px;
        color:#F6C73B;
    }

}
